/* .product-container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ff4081;
  flex-grow: 0;
  flex-shrink: 1;

  
} */



.product-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* CHAVE DO PROBLEMA AQUI: */
  flex: 0 1 300px; /* Não cresce (0), pode diminuir (1), base de 250px */
  width: 100%;     /* Permite que ele ocupe o espaço até o limite do flex-basis */
  max-width: 300px; /* Garante que ele NUNCA passe do tamanho fixo inicial */
}




/* .image-wrapper{
  border-radius: 5px;

  overflow: hidden;
  display: flex;
  width: 200px;
  height: 200px;
  
  
}

.product-image{
  border-radius: 5px;
  object-fit: contain;
  flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: black;
  
} */



.image-wrapper {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 100%;       /* Ocupa a largura do container */
   /*aspect-ratio: 1/1;  Mantém o quadrado perfeito independente da largura */
    aspect-ratio: 16 / 9
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 'cover' é melhor para preencher o quadrado sem distorcer */
  display: block;
  background-color: black;
  
}






.name-price-containner{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.name-price{
  font-weight: 600;
  margin-bottom: 5px;
}



.description {
  color: var(--color-text-light);
  margin-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* número máximo de linhas */
  overflow: hidden;       /* esconde o excesso */
}



.product-actions{
  display: flex;
  gap: 5px;

}


.add-to-cart-button{
  margin-top: 15px;
  
  border-width:0.5px;
  border-radius:20px;
  border-color:var(--color-accent-secondary);
  border-color: rgba(128, 128, 128, 0.459);
  padding:10px;
  /* width: 90px;  */
  background-color:var(--color-bg);
   background-color: white;
  box-sizing:border-box;
  white-space: normal; 
  text-wrap: nowrap;
  text-align: center;
  /* color:var(--color-accent-secondary); */
  /* color: dodgerblue; */
  color: #ff4081;
  font-weight:bold;
  font-size: 12px;
  flex: 1;

  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 10px;
  

}

.add-to-cart-button:active{
  color:rgba(255, 0, 0, 0.447);
  
}


.add-to-cart-button__sap{
  /* color: white; */
  /* background-color: #25D366; */
  color: #25D366;
  border: 1px solid #25D366;
  transition: all .5s;
}

.add-to-cart-button__sap:hover{
  color: white;
  background-color: #25D366;
}



@media screen  and (max-width:800px){


  .product-container {
    display: flex;
    flex: 1; 
    max-width: 100dvw;
    /* background-color: #ff4081; */
  }


  .image-wrapper{
    border-radius: 5px;
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #ff4081;
    
  }
  
  
}