.p-detail_left {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  /* position: fixed */
  /* background-color: aqua; */
}

.showcase {
  flex: 1;
  aspect-ratio: 4 / 3; 
  border-radius: 7px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0f0f0; 
}

.showcase img {
  /* max-width: 100%;
  max-height: 100%; */
  border-radius: 7px;
  object-fit: contain;
  display: block;
}

.showcase-options {
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.options-img-container {
  width: 80px;
  height: 70px;
  cursor: pointer;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  /* overflow: hidden; */
  background-color: #ddd; /* só para visualizar */
}

.options-img-container img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
  display: block;
}


@media  screen and (max-width:500px) {
  .p-detail_left {
    padding: 0 0.5rem;
    min-height: 50vh;
    
  }

  .showcase img {
    /* max-width: 100%;
    max-height: 100%; */
    border-radius: 7px;
    object-fit: contain;
    display: block;
  }
}


/* @media  screen and (max-width:1000px) {
  .p-detail_left {
    padding: 0 0.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;

    
}
} */