.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 150px ;
  /* gap: 100px; */
  background-color: var(--surface-color);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index:999999;
}

.menu{
  display: none;
}

.nav-bar input {
  display: flex;
  flex: 1;
  border: 0;
  background-color: var(--color-bg);
  outline: none;
  padding: 5px;
  border-radius: 5px;
}
.nav__left{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.nav-bar__Logo {
  height: 30px;
}

.nav-bar__Logo-label{
  font-size: larger;
  font-weight: bolder;
  color: black;
  margin-right: 20px;
}

.nav-bar__links{
  display: flex;
  gap:10px;
  font-weight: bold;
  font-size: small;
  }

  .nav-bar__links--mobile{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px;
    font-weight: bold;
    font-size: xx-large;
    z-index: 999999;
    /* background-color:antiquewhite */
    background-color: black;
  
  }

  .nav-bar__links--mobile span{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    color: pink;
  }
  
  .nav__link--mobile{
    color: white;
    font-size: large;
  }

  .nav__link--mobile:hover{
    color: pink;
  }


.nav__right{
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  flex-wrap: nowrap;
  flex: 1;
}

.nav__input-group{
  padding: 3px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  /* background-color:white; */
  border-radius: 5px;
  background-color: var(--color-bg);

}

.nav__right img{
  width: 15px;
  height: 15px;
}

.nav__right-badge-container{
  position: relative;
}

.nav__right span{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-danger);
  padding: 2px;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 10px;
  color:var(--color-light);
  width: 10px;
  height: 10px;
  
}

@media screen and (max-width:800px) {
  
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 10px 10px ;
}

.nav__right{
  display: none;
}
.nav-bar__links{
  display: none;
  }

  .menu{
    cursor: pointer;
    display: block;
  }

}



@media screen and (max-width:1000px) {
  
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 10px 10px ;
}


}